Repository difyrrwrzd/cudf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cudf-cpp-codeowners, @rapidsai/cudf-python-codeowners, @rapidsai/cudf-ops-codeowners

Some legacy_groupby tests still failing
  CHANGELOG.md
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/sort.pxd
  python/cudf/bindings/sort.pyx
  python/cudf/groupby/legacy_groupby.py
Owners: @rapidsai/cudf-python-codeowners

Update comment with issue, change exception to NotImplementedError, build function for updating nvstrings col
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/cudf_cpp.pyx
  python/cudf/bindings/groupby.pyx
Owners: @rapidsai/cudf-python-codeowners

forgot to release the gil
  python/cudf/bindings/transpose.pyx
Owners: @rapidsai/cudf-python-codeowners

Fix typo in DECIMAL decoding; Add INT64/FLOAT64 compile-time switch
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_data.cu
Owners: @rapidsai/cudf-cpp-codeowners

Avoid unnecessary exp10 computations in Decode_Decimals
  cpp/src/io/orc/stripe_data.cu
Owners: @rapidsai/cudf-cpp-codeowners

Distilled common functionality across case bodies in aggregate_elements.
  cpp/src/groupby/new_hash_groupby.cu
Owners: @rapidsai/cudf-cpp-codeowners

Was passing duplicate array to sort call, release gil on all libcudf calls, changelog #
  CHANGELOG.md
  python/cudf/bindings/sort.pyx
Owners: @rapidsai/cudf-python-codeowners

Added ability to control initial value of allocated bitmasks. Added tests.
  cpp/include/types.hpp
  cpp/tests/table/table_tests.cu
Owners: @rapidsai/cudf-cpp-codeowners

Concat CFFI --> Cython
  python/cudf/_gdf.py
  python/cudf/bindings/concat.pxd
  python/cudf/bindings/concat.pyx
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/dataframe/column.py
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/numerical.py
Owners: @rapidsai/cudf-python-codeowners

Move functions common to csv and json to utils
  cpp/src/io/csv/csv_reader.cu
  cpp/src/io/json/json_reader.cu
  cpp/src/io/utilities/parsing_utils.cuh
Owners: @rapidsai/cudf-cpp-codeowners

Hashing CFFI --> Cython as well
  python/cudf/bindings/cudf_cpp.pxd
  python/cudf/bindings/hash.pxd
  python/cudf/bindings/hash.pyx
  python/cudf/dataframe/dataframe.py
  python/cudf/dataframe/numerical.py
Owners: @rapidsai/cudf-python-codeowners

Fix bad merge changes
  cpp/src/io/parquet/parquet_reader.cu
Owners: @rapidsai/cudf-cpp-codeowners

More bad merge fixes
  CHANGELOG.md
Owners: none

one more time
  CHANGELOG.md
Owners: none

Treat DECIMAL as GDF_FLOAT64 and add pytest case
  cpp/src/io/orc/orc_reader.cu
  python/cudf/tests/data/orc/TestOrcFile.decimal.orc
  python/cudf/tests/test_orc.py
Owners: @rapidsai/cudf-cpp-codeowners, @rapidsai/cudf-python-codeowners

Fix csv-writer call to updated NVStrings method
  cpp/src/io/csv/csv_writer.cu
Owners: @rapidsai/cudf-cpp-codeowners

updated changelog
  CHANGELOG.md
Owners: none

Add column counting+naming to JSON parser, based on the first row. Minor clean up of error checking.
  cpp/src/io/json/json_reader.cu
  cpp/src/io/json/json_reader.hpp
  cpp/src/io/utilities/wrapper_utils.hpp
  cpp/tests/io/json/json_test.cpp
Owners: @rapidsai/cudf-cpp-codeowners

ENH: Default Parquet reader to using GDF_STRING for strings
  cpp/include/cudf/io_types.h
  cpp/src/io/parquet/parquet_reader.cu
  python/cudf/bindings/parquet.pxd
  python/cudf/bindings/parquet.pyx
  python/cudf/io/parquet.py
  python/cudf/tests/test_parquet.py
Owners: @rapidsai/cudf-cpp-codeowners, @rapidsai/cudf-python-codeowners

Update CHANGELOG.md with PR
  CHANGELOG.md
Owners: none

Unified 2 column_empty API
  python/cudf/bindings/copying.pyx
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/datetime.py
  python/cudf/dataframe/numerical.py
Owners: @rapidsai/cudf-python-codeowners

Correct dtype of `find_segments`
  python/cudf/bindings/copying.pyx
  python/cudf/utils/cudautils.py
Owners: @rapidsai/cudf-python-codeowners

Add TODO comment in apply_gather
  python/cudf/bindings/copying.pyx
Owners: @rapidsai/cudf-python-codeowners

Replacing `cudautils.gather`
  python/cudf/bindings/copying.pyx
  python/cudf/dataframe/categorical.py
  python/cudf/dataframe/column.py
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/datetime.py
  python/cudf/dataframe/index.py
  python/cudf/dataframe/numerical.py
  python/cudf/dataframe/series.py
Owners: @rapidsai/cudf-python-codeowners

Fix flake8 error
  python/cudf/dataframe/categorical.py
  python/cudf/dataframe/column.py
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/datetime.py
  python/cudf/dataframe/index.py
  python/cudf/dataframe/series.py
Owners: @rapidsai/cudf-python-codeowners

Implement `apply_scatter` and test cases
  python/cudf/bindings/copying.pyx
  python/cudf/tests/test_copying.py
Owners: @rapidsai/cudf-python-codeowners

Fill maks by 0 at `column_empty_like`
  python/cudf/dataframe/columnops.py
Owners: @rapidsai/cudf-python-codeowners

Update: change log
  CHANGELOG.md
Owners: none

Rename types.cpp -> table.cu
  cpp/CMakeLists.txt
  cpp/src/dataframe/table.cu
Owners: @rapidsai/cudf-ops-codeowners, @rapidsai/cudf-cpp-codeowners

Fixed faulty merge.
  cpp/include/types.hpp
Owners: @rapidsai/cudf-cpp-codeowners

Moved check for validity of source element to aggregate_row. Always initialize output COUNT column bitmask with all valid.
  cpp/src/groupby/new_hash_groupby.cu
Owners: @rapidsai/cudf-cpp-codeowners

Addressed Review comment
  python/cudf/tests/test_orc.py
  python/cudf/tests/test_sparse_df.py
  python/setup.py
Owners: @rapidsai/cudf-python-codeowners

Moved setting the target bit to its own function. Updated documentation.
  cpp/src/groupby/new_hash_groupby.cu
Owners: @rapidsai/cudf-cpp-codeowners

Resoved check-style failure
  python/cudf/tests/test_orc.py
  python/cudf/tests/test_sparse_df.py
Owners: @rapidsai/cudf-python-codeowners

Added function to return vector of gdf_dtypes of the columns in a table.
  cpp/include/types.hpp
Owners: @rapidsai/cudf-cpp-codeowners

Reorganized some functions. Moved determining target dtypes to its own function.
  cpp/src/groupby/new_hash_groupby.cu
Owners: @rapidsai/cudf-cpp-codeowners

Updated implementation to no longer need initialization with identity. Passes aggregation op enum as template argument.
  cpp/src/groupby/new_hash_groupby.cu
Owners: @rapidsai/cudf-cpp-codeowners

add kernels for isull and notna, series methods for isnull, isna, and notna, and tests for isnull/isna
  python/cudf/dataframe/series.py
  python/cudf/tests/test_dataframe.py
  python/cudf/utils/cudautils.py
Owners: @rapidsai/cudf-python-codeowners

switch cudf reference to DataFrame
  python/cudf/tests/test_dataframe.py
Owners: @rapidsai/cudf-python-codeowners

add tests for notna
  python/cudf/tests/test_dataframe.py
Owners: @rapidsai/cudf-python-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/       @rapidsai/cudf-cpp-codeowners

#python code owners
python/    @rapidsai/cudf-python-codeowners

#build/ops code owners
.github/           @rapidsai/cudf-ops-codeowners 
ci/                @rapidsai/cudf-ops-codeowners
conda/             @rapidsai/cudf-ops-codeowners
**/Dockerfile      @rapidsai/cudf-ops-codeowners
**/.dockerignore   @rapidsai/cudf-ops-codeowners
docker/            @rapidsai/cudf-ops-codeowners
**/CMakeLists.txt  @rapidsai/cudf-ops-codeowners
**/cmake/          @rapidsai/cudf-ops-codeowners
