Repository difyrrwrzd/cudf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cudf-cpp-codeowners, @rapidsai/cudf-python-codeowners, @rapidsai/cudf-ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/       @rapidsai/cudf-cpp-codeowners

#python code owners
python/    @rapidsai/cudf-python-codeowners

#build/ops code owners
.github/           @rapidsai/cudf-ops-codeowners 
ci/                @rapidsai/cudf-ops-codeowners
conda/             @rapidsai/cudf-ops-codeowners
**/Dockerfile      @rapidsai/cudf-ops-codeowners
**/.dockerignore   @rapidsai/cudf-ops-codeowners
docker/            @rapidsai/cudf-ops-codeowners
**/CMakeLists.txt  @rapidsai/cudf-ops-codeowners
**/cmake/          @rapidsai/cudf-ops-codeowners

changelog
  CHANGELOG.md
Owners: none

Specialized for COUNT by using template to retrieve update value and partially specialized for COUNT to always return 1.
  cpp/src/groupby/new_hash_groupby.cu
Owners: @rapidsai/cudf-cpp-codeowners

update unnamed series test to use correct from_pandas
  python/cudf/tests/test_dataframe.py
Owners: @rapidsai/cudf-python-codeowners

Fix missing call to bytestream_flush_bytes in Decode_Decimal
  cpp/src/io/orc/stripe_data.cu
Owners: @rapidsai/cudf-cpp-codeowners

Refactor record start enumeration/filtering to make it consistent with other steps
  cpp/src/io/json/json_reader.cu
  cpp/src/io/json/json_reader.hpp
Owners: @rapidsai/cudf-cpp-codeowners

Apply clang-format to the code in this PR
  cpp/src/io/json/json_reader.cu
  cpp/src/io/json/json_reader.hpp
  cpp/src/io/utilities/file_utils.cpp
  cpp/src/io/utilities/file_utils.hpp
  cpp/src/io/utilities/parsing_utils.cuh
  cpp/tests/io/json/json_test.cpp
Owners: @rapidsai/cudf-cpp-codeowners

Add byte range support to read_json
  cpp/include/cudf/io_types.h
  cpp/src/io/json/json_reader.cu
  cpp/src/io/json/json_reader.hpp
  cpp/tests/io/json/json_test.cpp
Owners: @rapidsai/cudf-cpp-codeowners

Updated implementation to allow specialization for COUNT that doesn't attempt to set valid bit for target element.
  cpp/src/groupby/new_hash_groupby.cu
Owners: @rapidsai/cudf-cpp-codeowners

Update the read_json API to conform to the target version (pd)
  cpp/include/cudf/io_types.h
  cpp/src/io/json/json_reader.cu
  cpp/src/io/json/json_reader.hpp
  cpp/tests/io/json/json_test.cpp
Owners: @rapidsai/cudf-cpp-codeowners

Fix row position decoding with long strings of NULLs
  cpp/src/io/orc/stripe_data.cu
Owners: @rapidsai/cudf-cpp-codeowners

Added back initialization with identity. Previous approach resulted in race condition with atomicCAS update of target element and updating it's bitmask. Added type aliases for simplification.
  cpp/src/groupby/new_hash_groupby.cu
Owners: @rapidsai/cudf-cpp-codeowners

Removed unneccessary typename keywords.
  cpp/src/groupby/new_hash_groupby.cu
Owners: @rapidsai/cudf-cpp-codeowners

Add compile-time ns/ms switch for ORC timestamps
  cpp/src/io/orc/orc_gpu.h
  cpp/src/io/orc/stripe_data.cu
Owners: @rapidsai/cudf-cpp-codeowners

added nvstrings replace function
  python/cudf/dataframe/columnops.py
  python/cudf/dataframe/string.py
  python/cudf/tests/test_replace.py
Owners: @rapidsai/cudf-python-codeowners

Began adding kernels for computing hash groupby. Stubbed out functionality for computing a bitmask indicating the presence of nulls in a row.
  cpp/src/groupby/new_hash_groupby.cu
Owners: @rapidsai/cudf-cpp-codeowners

corrected test styles
  python/cudf/tests/test_replace.py
Owners: @rapidsai/cudf-python-codeowners

added change to change_log
  CHANGELOG.md
Owners: none

Update doxygen comments in JsonReader and add the copyright header to the new files.
  cpp/include/cudf/io_types.h
  cpp/src/io/json/json_reader.cu
  cpp/src/io/json/json_reader.hpp
  cpp/src/io/utilities/file_utils.cpp
  cpp/src/io/utilities/file_utils.hpp
  cpp/tests/io/json/json_test.cpp
Owners: @rapidsai/cudf-cpp-codeowners
